<div class="container-fluid vh-100">
    <div class="row" style="height: inherit;">
        <div class="col-12 col-sm-8 d-flex flex-column justify-content-center align-items-center">
            <div class="card w-100 shadow-lg">
                <div class="card-header bg-white border-0">
                    <h3 class="text-center m-0">Your Order</h3>
                </div>
                <div class="card-body">

                    <div *ngIf="cart && cart.items.length" class="container">
                        <ul>
                            <li *ngFor="let cartItem of cart.items">
                                <div>
                                    <img src="/assets/images/{{ cartItem.food.image}}.jpg">
                                </div>
                                <div>
                                    {{cartItem.food.name}}

                                </div>
                                <div>
                                    <select #quantitySelect [value]="cartItem.quantity"
                                        (change)="changeQuantity(cartItem, quantitySelect.value)">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div>
                                    {{cartItem.price | currency}}
                                </div>

                                <div>
                                    <button class="remove-button" (click)="removeFromCart(cartItem)">
                                        Remove
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <div class="checkout">
                            <div>
                                <div class="foods-count">{{cart.totalCount}}</div>
                                <div class="total-price">{{cart.totalPrice|currency}}</div>
                            </div>

                            <p class="corder"><a routerLink="/orders">Continue to Order</a></p>
                            <p><a routerLink="/payment">Proceed to Checkout</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>